@using multitenantAspNetCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject AppTenant Tenant;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if (Tenant.Name == "Tenant 1")
    {
        <div>Tenant 1</div>
    }
    else
    {
        <div>Tenant 2</div>
    }
</body>
</html>