@import url(http://weloveiconfonts.com/api/?family=zocial);

body {

}

article {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
}


h1 {
  display: inline;
}

img {
  max-width: 100%;
}